.dark-bg {
  background: #1c1a19;
}

.media-icons img {
  width: 18px;
}

#button {
  padding: 0.78rem;
}

#button button {
  border-radius: 0;
}

.list-group-item {
  background: rgba(255, 255, 255, 0.24);
  color: white;
}

.btn-primary {
  background: #f55800;
  border: none;
}

.border-input {
  border: none;
  border-bottom: solid 1px grey;
}

#message {
  background: #fbf8f7;
  height: 114px;
}

.media-icons2 img {
  width: 60px;
}